@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --btn-primaryBg: #fff;
  --btn-secondaryBg: #0e1731;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul li a {
  text-decoration: none;
  color: #000000;
}
button {
  border: 0;
  background: transparent;
}

body {
  font-family: "Roboto", sans-serif;
  margin: auto;
  background: #7e7e7e;
}

.container {
  max-width: 1294px;
  margin: auto;
  background: #ffffff !important;
}

.container header {
  border-bottom: 3px solid #d0d5e4;
  margin-bottom: 2rem;
}

.container header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 24px 59px 45px 60px;
}

.container header nav ul {
  display: flex;
  max-width: 361px;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.container header nav ul li,
.container header nav ul li a {
  color: var(--btn-secondaryBg);
}

.container header nav .actions button {
  border: 0;
  background: transparent;
  border-radius: 22px;
  padding: 10px 20px;
}

.container header nav .actions button.btn-login {
  background: var(--btn-primaryBg);
  border: 1px solid var(--btn-secondaryBg);
  color: var(--btn-secondaryBg);
}
.container header nav .actions button.get-started {
  background: var(--btn-secondaryBg);
  color: #ffffff;
}
.container main.main {
  padding: 0 60px;
}
.container main.main nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  flex-wrap: wrap;
}
.container main.main nav ul {
  max-width: 486px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.container main.main .content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.col-left,
.col-right {
  padding: 20px;
}
.col-left {
  flex: 1;
}
.col-left .img-wrapper {
  margin-bottom: 2rem;
}
.col-left .img-wrapper img {
  width: 100%;
  object-fit: cover;
}
.col-left .text-wrapper {
  margin-bottom: 1rem;
}
.col-left .text-wrapper h3 {
  font-size: 22px;
  margin-bottom: 10px;
}
.col-left .avatar-wrapper .avatar-img {
  display: flex;
  flex: 1;
  align-items: center;
  /*justify-content: space-evenly;*/
  height: 100%;
}
.col-left__title {
  font-size: 32px;
  margin-bottom: 46px;
}
.col-right {
  /*background: blue;*/
  flex: 1;
  padding-top: 97px;
}
.col-right .header {
  margin-bottom: 43px;
}
.col-right .header h3 {
  font-size: 22px;
}
.col-right .articles-wrapper {
  display: flex;
  flex-direction: column;
}
.col-right .articles-wrapper .avatar-wrapper {
  display: flex;
  margin-bottom: 2rem;
  /* flex-wrap: wrap; */
}
.avatar-wrapper img {
  margin-right: 2rem;
}
.article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.article .avatar-img {
  display: flex;
  align-items: center;
  height: 100%;
}
.article img {
  width: 60px;
  margin-right: 1rem;
  object-fit: cover;
}
@media (max-width: 666px) {
  .container header {
    display: flex;
    justify-content: center;
  }
  .container header nav .actions {
    text-align: center;
    width: 100%;
    margin-top: 1rem;
  }
}
@media (max-width: 620px) {
  .container main.main nav ul {
    text-align: center;
    width: 100%;
  }
  .btn-search {
    text-align: center;
    width: 100%;
  }
  .container main.main nav ul li {
    margin-bottom: 1rem;
    width: 100%;
  }
}
@media (max-width: 450px) {
  .col-left__title {
    text-align: center;
  }
  .col-right .header h3 {
    text-align: center;
  }
  .col-right .articles-wrapper .avatar-wrapper {
    justify-content: center;
    flex-wrap: wrap;
  }
  .col-right .articles-wrapper .avatar-wrapper h3 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .col-right .articles-wrapper .avatar-img {
    margin: auto;
  }
  .avatar-wrapper > img {
    margin: auto;
    margin-bottom: 2rem;
  }
}

@media (max-width: 320px) {
  .avatar-wrapper img {
    margin-right: 1rem;
  }
  .container main.main {
    padding: 0;
  }
  .container header nav ul li {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .col-right {
    /* background: blue; */
    flex: 1;
    padding-top: 0;
  }
  .col-right .articles-wrapper {
    display: block;
  }

  .col-right .articles-wrapper .avatar-wrapper {
    justify-content: center;
    flex-wrap: wrap;
  }
  .col-right .articles-wrapper .avatar-wrapper h3 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .col-right .articles-wrapper .avatar-img {
    margin: auto;
  }
  .container main.main nav {
    border-bottom: 1px solid red;
    padding-bottom: 46px;
  }
  .container main.main nav ul {
    text-align: center;
    width: 100%;
  }
  .btn-search {
    text-align: center;
    width: 100%;
  }
  .container main.main nav ul li {
    margin-bottom: 1rem;
    width: 100%;
  }
  .avatar-wrapper > img {
    margin-bottom: 2rem;
  }
}
